<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseName" value="Tp3.sqlite" />
    <add key="PullIntervalInSeconds" value="15" />
    <add key="ApiAddress" value="https://weatherbit-v1-mashape.p.rapidapi.com/current" />
    <add key="x-rapidapi-key" value="8543aa2801mshd932b59c3fd39bdp1deaeajsn48cbe99823c2" />
    <add key="x-rapidapi-host" value="weatherbit-v1-mashape.p.rapidapi.com" />
    <add key="lon" value="45.5017" />
    <add key="lat" value="73.5673" />
  </appSettings>
</configuration>